In [108]:
import numpy as np
import pandas as pd
import helpers

In [109]:
teams_df = pd.read_csv('data/2024/womens_prem_teams.csv')
teams_df

   Club ID                           Club
0   175309          ALLIANCE UNITED WOMEN
1   175383                FC LONDON WOMEN
2   175327            GUELPH UNITED WOMEN
3   175403              NDC ONTARIO WOMEN
4   175392     NORTH MISSISSAUGA SC WOMEN
5   175338            NORTH TORONTO WOMEN
6   175359  SIMCOE COUNTY ROVERS FC WOMEN
7   175295          VAUGHAN AZZURRI WOMEN
8   175368      WOODBRIDGE STRIKERS WOMEN
9   175315           BLUE DEVILS FC WOMEN

In [110]:
scores_df = pd.read_csv('data/2024/womens_prem_results.csv')
scores_df

     Match ID  Home result  Away result  Home team  Away team
0   181691068            2            0     175403     175327
1   181691069            2            1     175295     175359
2   181691070            0            4     175315     175309
3   181691071            0            3     175392     175338
4   181691072            2            1     175383     175368
..        ...          ...          ...        ...        ...
85  181691153            7            1     175327     175309
86  181691154            4            0     175403     175392
87  181691155            3            0     175383     175359
88  181691156            0            2     175315     175338
89  181691157            2            4     175295     175368

[90 rows x 5 columns]

In [111]:
scores_list = scores_df.to_numpy()
teams_list = teams_df.to_numpy()

X = np.array(helpers.buildScoresArray(scores_list, teams_list))

In [112]:
teams = teams_df['Club'].tolist()
match_ids = scores_df['Match ID'].tolist()

X_df = pd.DataFrame(X, index=match_ids, columns=teams)
print(X_df.to_string())

           ALLIANCE UNITED WOMEN  FC LONDON WOMEN  GUELPH UNITED WOMEN  NDC ONTARIO WOMEN  NORTH MISSISSAUGA SC WOMEN  NORTH TORONTO WOMEN  SIMCOE COUNTY ROVERS FC WOMEN  VAUGHAN AZZURRI WOMEN  WOODBRIDGE STRIKERS WOMEN  BLUE DEVILS FC WOMEN
181691068                      0                0                   -1                  1                           0                    0                              0                      0                          0                     0
181691069                      0                0                    0                  0                           0                    0                             -1                      1                          0                     0
181691070                      1                0                    0                  0                           0                    0                              0                      0                          0                    -1
181691071                      0                0                    0                  0                          -1                    1                              0                      0                          0                     0
181691072                      0                1                    0                  0                           0                    0                              0                      0                         -1                     0
181691073                      0                0                    0                  0                           0                    1                              0                      0                         -1                     0
181691074                     -1                0                    0                  0                           0                    0                              1                      0                          0                     0
181691075                      0                0                    0                  1                          -1                    0                              0                      0                          0                     0
181691076                      0                1                    0                  0                           0                    0                              0                      0                          0                    -1
181691077                      0                0                   -1                  0                           0                    0                              0                      1                          0                     0
181691078                      0               -1                    0                  1                           0                    0                              0                      0                          0                     0
181691079                      0                0                    0                  0                           0                    1                              0                     -1                          0                     0
181691080                      0                0                    0                  0                           1                    0                              0                      0                          0                    -1
181691081                     -1                0                    1                  0                           0                    0                              0                      0                          0                     0
181691082                      0                0                    0                  0                           0                    0                             -1                      0                          1                     0
181691083                      0                0                    0                  0                           1                    0                             -1                      0                          0                     0
181691084                      0                1                   -1                  0                           0                    0                              0                      0                          0                     0
181691085                      0                0                    0                  1                           0                   -1                              0                      0                          0                     0
181691086                      1                0                    0                  0                           0                    0                              0                     -1                          0                     0
181691087                      0                0                    0                  0                           0                    0                              0                      0                          1                    -1
181691088                     -1                0                    0                  0                           0                    1                              0                      0                          0                     0
181691089                     -1                0                    0                  0                           0                    1                              0                      0                          0                     0
181691090                      0                0                    1                  0                          -1                    0                              0                      0                          0                     0
181691091                      0                0                    0                  1                           0                    0                              0                      0                          0                    -1
181691092                      0                0                    0                  0                           0                    0                              0                     -1                          1                     0
181691093                      0               -1                    0                  0                           0                    0                              1                      0                          0                     0
181691094                      0                0                    1                  0                           0                    0                              0                      0                         -1                     0
181691095                      0                0                    0                  0                           1                    0                              0                      0                          0                    -1
181691096                      0                0                    0                  1                           0                    0                             -1                      0                          0                     0
181691097                      0               -1                    0                  0                           0                    0                              0                      1                          0                     0
181691098                      0                0                    0                 -1                           0                    0                              0                      0                          1                     0
181691099                      0                0                    0                  0                           0                    0                              0                      1                          0                    -1
181691100                      0                0                   -1                  0                           0                    0                              1                      0                          0                     0
181691101                      0               -1                    0                  0                           0                    1                              0                      0                          0                     0
181691102                     -1                0                    0                  0                           1                    0                              0                      0                          0                     0
181691103                     -1                0                    0                  1                           0                    0                              0                      0                          0                     0
181691104                      0                0                   -1                  0                           0                    1                              0                      0                          0                     0
181691105                      0                0                    0                  0                          -1                    0                              0                      0                          1                     0
181691106                      0                0                    0                  0                           0                    0                              1                      0                          0                    -1
181691107                      0                1                    0                  0                           0                    0                              0                     -1                          0                     0
181691108                      0                0                    0                  0                          -1                    0                              0                      0                          1                     0
181691109                     -1                1                    0                  0                           0                    0                              0                      0                          0                     0
181691110                      0                0                    0                  1                           0                    0                             -1                      0                          0                     0
181691111                      0                0                   -1                  0                           0                    0                              0                      0                          1                     0
181691112                      0                0                    0                  0                           1                    0                              0                     -1                          0                     0
181691113                      0                0                    0                  0                           0                    1                              0                      0                          0                    -1
181691114                      0                0                   -1                  0                           0                    0                              1                      0                          0                     0
181691115                      1                0                    0                  0                           0                    0                              0                      0                          0                    -1
181691116                      0               -1                    0                  0                           0                    1                              0                      0                          0                     0
181691117                      0                0                    0                  0                           0                    1                             -1                      0                          0                     0
181691118                      0                0                    1                  0                           0                    0                              0                      0                          0                    -1
181691119                      0                0                    0                  1                           0                    0                              0                     -1                          0                     0
181691120                      0                1                    0                  0                          -1                    0                              0                      0                          0                     0
181691121                     -1                0                    0                  0                           0                    0                              0                      0                          1                     0
181691122                      0                0                    0                  0                           0                    0                             -1                      0                          1                     0
181691123                      0                0                    0                  0                           0                   -1                              0                      1                          0                     0
181691124                      0                0                    1                  0                          -1                    0                              0                      0                          0                     0
181691125                      0                0                    0                  1                           0                    0                              0                      0                          0                    -1
181691126                     -1                1                    0                  0                           0                    0                              0                      0                          0                     0
181691127                      1                0                    0                  0                           0                    0                              0                     -1                          0                     0
181691128                      0                0                    0                  1                           0                    0                              0                      0                         -1                     0
181691129                      0                1                   -1                  0                           0                    0                              0                      0                          0                     0
181691130                      0                0                    0                  0                           0                    0                              1                      0                          0                    -1
181691131                      0                0                    0                  0                          -1                    1                              0                      0                          0                     0
181691132                      0                0                   -1                  1                           0                    0                              0                      0                          0                     0
181691133                      1                0                    0                  0                          -1                    0                              0                      0                          0                     0
181691134                      0                0                    0                  0                           0                    1                              0                      0                         -1                     0
181691135                      0                1                    0                  0                           0                    0                              0                      0                          0                    -1
181691136                      0                0                    0                  0                           0                    0                              1                     -1                          0                     0
181691137                     -1                0                    0                  1                           0                    0                              0                      0                          0                     0
181691138                      0                0                    1                  0                           0                    0                              0                      0                          0                    -1
181691139                      0                1                    0                  0                           0                    0                              0                      0                         -1                     0
181691140                      0                0                    0                  0                           0                   -1                              1                      0                          0                     0
181691141                      0                0                    0                  0                          -1                    0                              0                      1                          0                     0
181691142                      0                0                    0                  1                           0                   -1                              0                      0                          0                     0
181691143                      0                0                    1                  0                           0                    0                              0                     -1                          0                     0
181691144                      1                0                    0                  0                           0                    0                             -1                      0                          0                     0
181691145                      0                1                    0                  0                          -1                    0                              0                      0                          0                     0
181691146                      0                0                    0                  0                           0                    0                              0                      0                          1                    -1
181691147                      0                0                    0                 -1                           0                    0                              0                      1                          0                     0
181691148                      0                0                    1                  0                           0                   -1                              0                      0                          0                     0

In [113]:
print(X_df.T.to_string())

                               181691068  181691069  181691070  181691071  181691072  181691073  181691074  181691075  181691076  181691077  181691078  181691079  181691080  181691081  181691082  181691083  181691084  181691085  181691086  181691087  181691088  181691089  181691090  181691091  181691092  181691093  181691094  181691095  181691096  181691097  181691098  181691099  181691100  181691101  181691102  181691103  181691104  181691105  181691106  181691107  181691108  181691109  181691110  181691111  181691112  181691113  181691114  181691115  181691116  181691117  181691118  181691119  181691120  181691121  181691122  181691123  181691124  181691125  181691126  181691127  181691128  181691129  181691130  181691131  181691132  181691133  181691134  181691135  181691136  181691137  181691138  181691139  181691140  181691141  181691142  181691143  181691144  181691145  181691146  181691147  181691148  181691149  181691150  181691151  181691152  181691153  181691154  181691155  181691156  181691157
ALLIANCE UNITED WOMEN                  0          0          1          0          0          0         -1          0          0          0          0          0          0         -1          0          0          0          0          1          0         -1         -1          0          0          0          0          0          0          0          0          0          0          0          0         -1         -1          0          0          0          0          0         -1          0          0          0          0          0          1          0          0          0          0          0         -1          0          0          0          0         -1          1          0          0          0          0          0          1          0          0          0         -1          0          0          0          0          0          0          1          0          0          0          0         -1          0          0          0         -1          0          0          0          0
FC LONDON WOMEN                        0          0          0          0          1          0          0          0          1          0         -1          0          0          0          0          0          1          0          0          0          0          0          0          0          0         -1          0          0          0         -1          0          0          0         -1          0          0          0          0          0          1          0          1          0          0          0          0          0          0         -1          0          0          0          1          0          0          0          0          0          1          0          0          1          0          0          0          0          0          1          0          0          0          1          0          0          0          0          0          1          0          0          0          0          1          0          0          0          0          1          0          0
GUELPH UNITED WOMEN                   -1          0          0          0          0          0          0          0          0         -1          0          0          0          1          0          0         -1          0          0          0          0          0          1          0          0          0          1          0          0          0          0          0         -1          0          0          0         -1          0          0          0          0          0          0         -1          0          0         -1          0          0          0          1          0          0          0          0          0          1          0          0          0          0         -1          0          0         -1          0          0          0          0          0          1          0          0          0          0          1          0          0          0          0          1          0          0          0          0          1          0          0          0          0
NDC ONTARIO WOMEN                      1          0          0          0          0          0          0          1          0          0          1          0          0          0          0          0          0          1          0          0          0          0          0          1          0          0          0          0          1          0         -1          0          0          0          0          1          0          0          0          0          0          0          1          0          0          0          0          0          0          0          0          1          0          0          0          0          0          1          0          0          1          0          0          0          1          0          0          0          0          1          0          0          0          0          1          0          0          0          0         -1          0          0         -1          0          0          0          1          0          0          0
NORTH MISSISSAUGA SC WOMEN             0          0          0         -1          0          0          0         -1          0          0          0          0          1          0          0          1          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0          0          0          1          0          0         -1          0          0         -1          0          0          0          1          0          0          0          0          0          0          0         -1          0          0          0         -1          0          0          0          0          0          0         -1          0         -1          0          0          0          0          0          0          0         -1          0          0          0         -1          0          0          0          0          0          0         -1          0         -1          0          0          0
NORTH TORONTO WOMEN                    0          0          0          1          0          1          0          0          0          0          0          1          0          0          0          0          0         -1          0          0          1          1          0          0          0          0          0          0          0          0          0          0          0          1          0          0          1          0          0          0          0          0          0          0          0          1          0          0          1          1          0          0          0          0          0         -1          0          0          0          0          0          0          0          1          0          0          1          0          0          0          0          0         -1          0         -1          0          0          0          0          0         -1          0          0          0          0          0          0          0          1          0
SIMCOE COUNTY ROVERS FC WOMEN          0         -1          0          0          0          0          1          0          0          0          0          0          0          0         -1         -1          0          0          0          0          0          0          0          0          0          1          0          0         -1          0          0          0          1          0          0          0          0          0          1          0          0          0         -1          0          0          0          1          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0          0          1          0          0          0          0          0          1          0          0          0          1          0          0          0         -1          0          0          0          0          0          0          0          1          0          0         -1          0          0
VAUGHAN AZZURRI WOMEN                  0          1          0          0          0          0          0          0          0          1          0         -1          0          0          0          0          0          0         -1          0          0          0          0          0         -1          0          0          0          0          1          0          1          0          0          0          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0         -1          0          0          0          1          0          0          0         -1          0          0          0          0          0          0          0          0         -1          0          0          0          0          1          0         -1          0          0          0          1          0          0          0          1          0          0          0          0          0         -1
WOODBRIDGE STRIKERS WOMEN              0          0          0          0         -1         -1          0          0          0          0          0          0          0          0          1          0          0          0          0          1          0          0          0          0          1          0         -1          0          0          0          1          0          0          0          0          0          0          1          0          0          1          0          0          1          0          0          0          0          0          0          0          0          0          1          1          0          0          0          0          0         -1          0          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0          1          0          0          1          0          0          0          0          0          0          0          1
BLUE DEVILS FC WOMEN                   0          0         -1          0          0          0          0          0         -1          0          0          0         -1          0          0          0          0          0          0         -1          0          0          0         -1          0          0          0         -1          0          0          0         -1          0          0          0          0          0          0         -1          0          0          0          0          0          0         -1          0         -1          0          0         -1          0          0          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0         -1          0          0         -1          0          0          0          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0         -1          0

In [114]:
M = (X.T).dot(X)
M_df = pd.DataFrame(M, index=teams, columns=teams)
print(M_df.to_string())

                               ALLIANCE UNITED WOMEN  FC LONDON WOMEN  GUELPH UNITED WOMEN  NDC ONTARIO WOMEN  NORTH MISSISSAUGA SC WOMEN  NORTH TORONTO WOMEN  SIMCOE COUNTY ROVERS FC WOMEN  VAUGHAN AZZURRI WOMEN  WOODBRIDGE STRIKERS WOMEN  BLUE DEVILS FC WOMEN
ALLIANCE UNITED WOMEN                             18               -2                   -2                 -2                          -2                   -2                             -2                     -2                         -2                    -2
FC LONDON WOMEN                                   -2               18                   -2                 -2                          -2                   -2                             -2                     -2                         -2                    -2
GUELPH UNITED WOMEN                               -2               -2                   18                 -2                          -2                   -2                             -2                     -2                         -2                    -2
NDC ONTARIO WOMEN                                 -2               -2                   -2                 18                          -2                   -2                             -2                     -2                         -2                    -2
NORTH MISSISSAUGA SC WOMEN                        -2               -2                   -2                 -2                          18                   -2                             -2                     -2                         -2                    -2
NORTH TORONTO WOMEN                               -2               -2                   -2                 -2                          -2                   18                             -2                     -2                         -2                    -2
SIMCOE COUNTY ROVERS FC WOMEN                     -2               -2                   -2                 -2                          -2                   -2                             18                     -2                         -2                    -2
VAUGHAN AZZURRI WOMEN                             -2               -2                   -2                 -2                          -2                   -2                             -2                     18                         -2                    -2
WOODBRIDGE STRIKERS WOMEN                         -2               -2                   -2                 -2                          -2                   -2                             -2                     -2                         18                    -2
BLUE DEVILS FC WOMEN                              -2               -2                   -2                 -2                          -2                   -2                             -2                     -2                         -2                    18

In [115]:
M_bar = M.copy()
M_bar[-1,:] = np.ones(M.shape[0])
M_bar
M_bar_df = pd.DataFrame(M_bar, index=teams, columns=teams)
print(M_bar_df.to_string())

                               ALLIANCE UNITED WOMEN  FC LONDON WOMEN  GUELPH UNITED WOMEN  NDC ONTARIO WOMEN  NORTH MISSISSAUGA SC WOMEN  NORTH TORONTO WOMEN  SIMCOE COUNTY ROVERS FC WOMEN  VAUGHAN AZZURRI WOMEN  WOODBRIDGE STRIKERS WOMEN  BLUE DEVILS FC WOMEN
ALLIANCE UNITED WOMEN                             18               -2                   -2                 -2                          -2                   -2                             -2                     -2                         -2                    -2
FC LONDON WOMEN                                   -2               18                   -2                 -2                          -2                   -2                             -2                     -2                         -2                    -2
GUELPH UNITED WOMEN                               -2               -2                   18                 -2                          -2                   -2                             -2                     -2                         -2                    -2
NDC ONTARIO WOMEN                                 -2               -2                   -2                 18                          -2                   -2                             -2                     -2                         -2                    -2
NORTH MISSISSAUGA SC WOMEN                        -2               -2                   -2                 -2                          18                   -2                             -2                     -2                         -2                    -2
NORTH TORONTO WOMEN                               -2               -2                   -2                 -2                          -2                   18                             -2                     -2                         -2                    -2
SIMCOE COUNTY ROVERS FC WOMEN                     -2               -2                   -2                 -2                          -2                   -2                             18                     -2                         -2                    -2
VAUGHAN AZZURRI WOMEN                             -2               -2                   -2                 -2                          -2                   -2                             -2                     18                         -2                    -2
WOODBRIDGE STRIKERS WOMEN                         -2               -2                   -2                 -2                          -2                   -2                             -2                     -2                         18                    -2
BLUE DEVILS FC WOMEN                               1                1                    1                  1                           1                    1                              1                      1                          1                     1

In [116]:
p = np.array(helpers.buildGDArray(scores_list, teams_list))
p_bar = p
p_bar[-1] = 0
p_bar_df = pd.DataFrame(p_bar, index=teams, columns=['GD'])
print(p_bar_df.to_string())

                               GD
ALLIANCE UNITED WOMEN         -11
FC LONDON WOMEN                29
GUELPH UNITED WOMEN             6
NDC ONTARIO WOMEN              30
NORTH MISSISSAUGA SC WOMEN    -21
NORTH TORONTO WOMEN            15
SIMCOE COUNTY ROVERS FC WOMEN  -3
VAUGHAN AZZURRI WOMEN          -2
WOODBRIDGE STRIKERS WOMEN      16
BLUE DEVILS FC WOMEN            0

In [117]:
# gd vector with blowouts accounted for
p_bw = np.array(helpers.buildGDArray(scores_list, teams_list, 3))
p_bar_bw = p_bw
p_bar_bw[-1] = 0
p_bar_bw_df = pd.DataFrame(p_bar_bw, index=teams, columns=['GD with limited blowouts'])
print(p_bar_bw_df.to_string())

                               GD with limited blowouts
ALLIANCE UNITED WOMEN                                -7
FC LONDON WOMEN                                      20
GUELPH UNITED WOMEN                                   2
NDC ONTARIO WOMEN                                    26
NORTH MISSISSAUGA SC WOMEN                          -20
NORTH TORONTO WOMEN                                  15
SIMCOE COUNTY ROVERS FC WOMEN                        -3
VAUGHAN AZZURRI WOMEN                                -2
WOODBRIDGE STRIKERS WOMEN                             8
BLUE DEVILS FC WOMEN                                  0

In [118]:
r = np.linalg.inv(M_bar).dot(p_bar)
r_df = pd.DataFrame(r, index=teams, columns=['Massey Rating']).sort_values(by=['Massey Rating'], ascending=False)
print(r_df)

                               Massey Rating
NDC ONTARIO WOMEN                       1.50
FC LONDON WOMEN                         1.45
WOODBRIDGE STRIKERS WOMEN               0.80
NORTH TORONTO WOMEN                     0.75
GUELPH UNITED WOMEN                     0.30
VAUGHAN AZZURRI WOMEN                  -0.10
SIMCOE COUNTY ROVERS FC WOMEN          -0.15
ALLIANCE UNITED WOMEN                  -0.55
NORTH MISSISSAUGA SC WOMEN             -1.05
BLUE DEVILS FC WOMEN                   -2.95

In [119]:
r = np.linalg.inv(M_bar).dot(p_bar_bw)
r_df = pd.DataFrame(r, index=teams, columns=['Massey Rating']).sort_values(by=['Massey Rating'], ascending=False)
print(r_df)

                               Massey Rating
NDC ONTARIO WOMEN                       1.30
FC LONDON WOMEN                         1.00
NORTH TORONTO WOMEN                     0.75
WOODBRIDGE STRIKERS WOMEN               0.40
GUELPH UNITED WOMEN                     0.10
VAUGHAN AZZURRI WOMEN                  -0.10
SIMCOE COUNTY ROVERS FC WOMEN          -0.15
ALLIANCE UNITED WOMEN                  -0.35
NORTH MISSISSAUGA SC WOMEN             -1.00
BLUE DEVILS FC WOMEN                   -1.95