In [3]:
import numpy as np
import pandas as pd
import helpers

In [4]:
teams_df = pd.read_csv('data/2025/mens_champ_teams.csv')
teams_df

    Club ID                        Club
0    175734          THE BOROUGH FC MEN
1    175326           GUELPH UNITED MEN
2    175331         HAMILTON UNITED MEN
3    175387             MASTER'S FA MEN
4    175391    NORTH MISSISSAUGA SC MEN
5    175414            PICKERING FC MEN
6    176208        SUDBURY CYCLONES MEN
7    175408  UNIONVILLE MILLIKEN SC MEN
8    183406         WATERLOO UNITED MEN
9    183408               WHITBY FC MEN
10   175405         WINDSOR CITY FC MEN
11   183189     YORK UNITED ACADEMY MEN

In [5]:
scores_df = pd.read_csv('data/2025/2025-06-28_mens_champ_results.csv')
scores_df

     Match ID  Home result  Away result  Home team  Away team
0   261900659            0            1     183189     176208
1   261900660            0            3     175405     175408
2   261900661            1            1     183408     175734
3   261900662            3            0     175391     175331
4   261900663            1            0     175387     183406
..        ...          ...          ...        ...        ...
64  261900725            0            1     183406     175408
65  261900727            1            0     183189     175387
66  261900728            1            0     175405     175391
67  261900729            4            0     183408     175414
68  261900744            1            1     175331     175387

[69 rows x 5 columns]

In [6]:
scores_list = scores_df.to_numpy()
teams_list = teams_df.to_numpy()

X = np.array(helpers.buildScoresArray(scores_list, teams_list))

In [7]:
teams = teams_df['Club'].tolist()
match_ids = scores_df['Match ID'].tolist()

X_df = pd.DataFrame(X, index=match_ids, columns=teams)
print(X_df.to_string())

           THE BOROUGH FC MEN  GUELPH UNITED MEN  HAMILTON UNITED MEN  MASTER'S FA MEN  NORTH MISSISSAUGA SC MEN  PICKERING FC MEN  SUDBURY CYCLONES MEN  UNIONVILLE MILLIKEN SC MEN  WATERLOO UNITED MEN  WHITBY FC MEN  WINDSOR CITY FC MEN  YORK UNITED ACADEMY MEN
261900659                   0                  0                    0                0                         0                 0                     1                           0                    0              0                    0                       -1
261900660                   0                  0                    0                0                         0                 0                     0                           1                    0              0                   -1                        0
261900661                  -1                  0                    0                0                         0                 0                     0                           0                    0              1                    0                        0
261900662                   0                  0                   -1                0                         1                 0                     0                           0                    0              0                    0                        0
261900663                   0                  0                    0                1                         0                 0                     0                           0                   -1              0                    0                        0
261900664                   0                 -1                    0                0                         0                 1                     0                           0                    0              0                    0                        0
261900665                   0                  0                   -1                0                         0                 0                     0                           0                    0              1                    0                        0
261900666                   1                  0                    0               -1                         0                 0                     0                           0                    0              0                    0                        0
261900667                   0                  0                    0                0                         0                -1                     1                           0                    0              0                    0                        0
261900668                   0                  1                    0                0                         0                 0                     0                           0                    0              0                   -1                        0
261900669                   0                  0                    0                0                         0                 0                     0                           0                   -1              0                    0                        1
261900670                   0                  0                    0                0                         1                 0                     0                          -1                    0              0                    0                        0
261900671                   0                  0                    0                0                         0                 0                     0                           0                   -1              1                    0                        0
261900672                   0                  0                    0               -1                         1                 0                     0                           0                    0              0                    0                        0
261900673                   0                  0                   -1                0                         0                 1                     0                           0                    0              0                    0                        0
261900674                   1                  0                    0                0                         0                 0                     0                           0                    0              0                   -1                        0
261900675                   0                 -1                    0                0                         0                 0                     1                           0                    0              0                    0                        0
261900676                   0                  0                    0                0                         0                 0                     0                           1                    0              0                    0                       -1
261900677                   0                  0                    0                0                         0                 0                     0                           0                    0             -1                    1                        0
261900678                  -1                  0                    0                0                         0                 0                     0                           0                    0              0                    0                        1
261900680                   0                  0                   -1                0                         0                 0                     1                           0                    0              0                    0                        0
261900681                   0                  0                    0                1                         0                -1                     0                           0                    0              0                    0                        0
261900682                   0                  0                    0                0                        -1                 0                     0                           0                    1              0                    0                        0
261900683                   0                  0                    0                0                         0                 0                     1                           0                    0             -1                    0                        0
261900684                   1                  0                    0                0                         0                 0                     0                          -1                    0              0                    0                        0
261900685                   0                  0                   -1                0                         0                 0                     0                           0                    1              0                    0                        0
261900686                   0                  0                    0                0                         0                 1                     0                           0                    0              0                   -1                        0
261900687                   0                  0                    0                0                        -1                 0                     0                           0                    0              0                    0                        1
261900688                   0                 -1                    0                1                         0                 0                     0                           0                    0              0                    0                        0
261900689                   1                  0                    0                0                         0                 0                     0                          -1                    0              0                    0                        0
261900690                   0                  0                   -1                0                         0                 0                     0                           0                    1              0                    0                        0
261900691                   0                  0                    0                0                         0                -1                     0                           0                    0              0                    1                        0
261900692                   0                  0                    0                0                         1                 0                     0                           0                    0              0                    0                       -1
261900693                   0                  1                    0               -1                         0                 0                     0                           0                    0              0                    0                        0
261900694                   0                  0                    0                0                         0                 0                     1                           0                    0             -1                    0                        0
261900695                   0                  0                    0                0                         0                 0                     0                           0                    0              0                   -1                        1
261900696                   0                  0                    0                0                         0                -1                     0                           0                    1              0                    0                        0
261900697                   1                  0                   -1                0                         0                 0                     0                           0                    0              0                    0                        0
261900698                   0                  0                    0                1                         0                 0                     0                          -1                    0              0                    0                        0
261900699                   0                  0                    0                0                         1                 0                    -1                           0                    0              0                    0                        0
261900700                   0                  1                    0                0                         0                 0                     0                           0                    0             -1                    0                        0
261900702                   0                  0                    0               -1                         0                 0                     0                           0                    0              0                    0                        1
261900703                   0                  0                    0                0                         1                 0                     0                           0                    0              0                   -1                        0
261900704                   0                  0                    0                0                         0                 1                     0                           0                    0             -1                    0                        0
261900705                  -1                  0                    0                0                         0                 0                     1                           0                    0              0                    0                        0
261900706                   0                  0                    0                0                         0                 0                     0                           1                   -1              0                    0                        0
261900707                   0                  1                    0                0                         0                 0                     0                           0                    0              0                    0                       -1
261900708                   0                  0                   -1                0                         0                 0                     0                           0                    0              0                    1                        0
261900709                   0                  0                    0                1                         0                 0                     0                           0                    0             -1                    0                        0
261900710                   0                  0                    0                0                         0                 0                    -1                           0                    1              0                    0                        0
261900711                   0                  0                    0                0                         0                 1                     0                          -1                    0              0                    0                        0
261900712                   1                  0                    0                0                        -1                 0                     0                           0                    0              0                    0                        0
261900713                   0                  0                   -1                1                         0                 0                     0                           0                    0              0                    0                        0
261900714                  -1                  0                    0                0                         0                 0                     0                           0                    1              0                    0                        0
261900715                   0                  0                    0                0                         0                 1                     0                           0                    0              0                    0                       -1
261900716                   0                  0                    0                0                         0                 0                     1                           0                    0              0                   -1                        0
261900717                   0                  0                    0                0                         0                 0                     0                           1                    0             -1                    0                        0
261900718                   0                  1                    0                0                        -1                 0                     0                           0                    0              0                    0                        0
261900719                   1                  0                    0                0                        -1                 0                     0                           0                    0              0                    0                        0
261900720                   0                 -1                    0                0                         0                 0                     0                           0                    0              0                    0                        1
261900721                   0                  0                   -1                0                         0                 0                     0                           0                    0              0                    1                        0
261900722                   0                  0                    0               -1                         0                 0                     0                           0                    0              1                    0                        0
261900723                   0                  0                    0                0                         0                 0                     1                           0                   -1              0                    0                        0
261900724                   0                  0                    0                0                         0                -1                     0                           1                    0              0                    0                        0
261900725                   0                  0                    0                0                         0                 0                     0                           1                   -1              0                    0                        0
261900727                   0                  0                    0               -1                         0                 0                     0                           0                    0              0                    0                        1
261900728                   0                  0                    0                0                        -1                 0                     0                           0                    0              0                    1                        0
261900729                   0                  0                    0                0                         0                -1                     0                           0                    0              1                    0                        0
261900744                   0                  0                    1               -1                         0                 0                     0                           0                    0              0                    0                        0

In [8]:
print(X_df.T.to_string())

                            261900659  261900660  261900661  261900662  261900663  261900664  261900665  261900666  261900667  261900668  261900669  261900670  261900671  261900672  261900673  261900674  261900675  261900676  261900677  261900678  261900680  261900681  261900682  261900683  261900684  261900685  261900686  261900687  261900688  261900689  261900690  261900691  261900692  261900693  261900694  261900695  261900696  261900697  261900698  261900699  261900700  261900702  261900703  261900704  261900705  261900706  261900707  261900708  261900709  261900710  261900711  261900712  261900713  261900714  261900715  261900716  261900717  261900718  261900719  261900720  261900721  261900722  261900723  261900724  261900725  261900727  261900728  261900729  261900744
THE BOROUGH FC MEN                  0          0         -1          0          0          0          0          1          0          0          0          0          0          0          0          1          0          0          0         -1          0          0          0          0          1          0          0          0          0          1          0          0          0          0          0          0          0          1          0          0          0          0          0          0         -1          0          0          0          0          0          0          1          0         -1          0          0          0          0          1          0          0          0          0          0          0          0          0          0          0
GUELPH UNITED MEN                   0          0          0          0          0         -1          0          0          0          1          0          0          0          0          0          0         -1          0          0          0          0          0          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0          0          0          1          0          0          0          0          0          1          0          0          0          0          0          0          0          0          0          0          1          0         -1          0          0          0          0          0          0          0          0          0
HAMILTON UNITED MEN                 0          0          0         -1          0          0         -1          0          0          0          0          0          0          0         -1          0          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0         -1          0          0          0          0          0          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0          0         -1          0          0          0          0          0          0          0          1
MASTER'S FA MEN                     0          0          0          0          1          0          0         -1          0          0          0          0          0         -1          0          0          0          0          0          0          0          1          0          0          0          0          0          0          1          0          0          0          0         -1          0          0          0          0          1          0          0         -1          0          0          0          0          0          0          1          0          0          0          1          0          0          0          0          0          0          0          0         -1          0          0          0         -1          0          0         -1
NORTH MISSISSAUGA SC MEN            0          0          0          1          0          0          0          0          0          0          0          1          0          1          0          0          0          0          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0          1          0          0          0          0          0          0          1          0          0          1          0          0          0          0          0          0          0          0         -1          0          0          0          0          0         -1         -1          0          0          0          0          0          0          0         -1          0          0
PICKERING FC MEN                    0          0          0          0          0          1          0          0         -1          0          0          0          0          0          1          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0          1          0          0          0          0          0          0          1          0          0          0          1          0          0          0          0          0          0          0          0         -1          0          0          0         -1          0
SUDBURY CYCLONES MEN                1          0          0          0          0          0          0          0          1          0          0          0          0          0          0          0          1          0          0          0          1          0          0          1          0          0          0          0          0          0          0          0          0          0          1          0          0          0          0         -1          0          0          0          0          1          0          0          0          0         -1          0          0          0          0          0          1          0          0          0          0          0          0          1          0          0          0          0          0          0
UNIONVILLE MILLIKEN SC MEN          0          1          0          0          0          0          0          0          0          0          0         -1          0          0          0          0          0          1          0          0          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0          0          0         -1          0          0          0          0          0          0          1          0          0          0          0         -1          0          0          0          0          0          1          0          0          0          0          0          0          1          1          0          0          0          0
WATERLOO UNITED MEN                 0          0          0          0         -1          0          0          0          0          0         -1          0         -1          0          0          0          0          0          0          0          0          0          1          0          0          1          0          0          0          0          1          0          0          0          0          0          1          0          0          0          0          0          0          0          0         -1          0          0          0          1          0          0          0          1          0          0          0          0          0          0          0          0         -1          0         -1          0          0          0          0
WHITBY FC MEN                       0          0          1          0          0          0          1          0          0          0          0          0          1          0          0          0          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0          0          0          0          0         -1          0          0          0          0          0         -1          0          0         -1          0          0          0          0         -1          0          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0          0          1          0
WINDSOR CITY FC MEN                 0         -1          0          0          0          0          0          0          0         -1          0          0          0          0          0         -1          0          0          1          0          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0         -1          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0          0          1          0          0
YORK UNITED ACADEMY MEN            -1          0          0          0          0          0          0          0          0          0          1          0          0          0          0          0          0         -1          0          1          0          0          0          0          0          0          0          1          0          0          0          0         -1          0          0          1          0          0          0          0          0          1          0          0          0          0         -1          0          0          0          0          0          0          0         -1          0          0          0          0          1          0          0          0          0          0          1          0          0          0

In [9]:
M = (X.T).dot(X)
M_df = pd.DataFrame(M, index=teams, columns=teams)
print(M_df.to_string())

                            THE BOROUGH FC MEN  GUELPH UNITED MEN  HAMILTON UNITED MEN  MASTER'S FA MEN  NORTH MISSISSAUGA SC MEN  PICKERING FC MEN  SUDBURY CYCLONES MEN  UNIONVILLE MILLIKEN SC MEN  WATERLOO UNITED MEN  WHITBY FC MEN  WINDSOR CITY FC MEN  YORK UNITED ACADEMY MEN
THE BOROUGH FC MEN                          11                  0                   -1               -1                        -2                 0                    -1                          -2                   -1             -1                   -1                       -1
GUELPH UNITED MEN                            0                  9                    0               -2                        -1                -1                    -1                           0                    0             -1                   -1                       -2
HAMILTON UNITED MEN                         -1                  0                   11               -2                        -1                -1                    -1                           0                   -2             -1                   -2                        0
MASTER'S FA MEN                             -1                 -2                   -2               13                        -1                -1                     0                          -1                   -1             -2                    0                       -2
NORTH MISSISSAUGA SC MEN                    -2                 -1                   -1               -1                        12                 0                    -1                          -1                   -1              0                   -2                       -2
PICKERING FC MEN                             0                 -1                   -1               -1                         0                12                    -1                          -2                   -1             -2                   -2                       -1
SUDBURY CYCLONES MEN                        -1                 -1                   -1                0                        -1                -1                    11                           0                   -2             -2                   -1                       -1
UNIONVILLE MILLIKEN SC MEN                  -2                  0                    0               -1                        -1                -2                     0                          11                   -2             -1                   -1                       -1
WATERLOO UNITED MEN                         -1                  0                   -2               -1                        -1                -1                    -2                          -2                   12             -1                    0                       -1
WHITBY FC MEN                               -1                 -1                   -1               -2                         0                -2                    -2                          -1                   -1             12                   -1                        0
WINDSOR CITY FC MEN                         -1                 -1                   -2                0                        -2                -2                    -1                          -1                    0             -1                   12                       -1
YORK UNITED ACADEMY MEN                     -1                 -2                    0               -2                        -2                -1                    -1                          -1                   -1              0                   -1                       12

In [10]:
M_bar = M.copy()
M_bar[-1,:] = np.ones(M.shape[0])
M_bar
M_bar_df = pd.DataFrame(M_bar, index=teams, columns=teams)
print(M_bar_df.to_string())

                            THE BOROUGH FC MEN  GUELPH UNITED MEN  HAMILTON UNITED MEN  MASTER'S FA MEN  NORTH MISSISSAUGA SC MEN  PICKERING FC MEN  SUDBURY CYCLONES MEN  UNIONVILLE MILLIKEN SC MEN  WATERLOO UNITED MEN  WHITBY FC MEN  WINDSOR CITY FC MEN  YORK UNITED ACADEMY MEN
THE BOROUGH FC MEN                          11                  0                   -1               -1                        -2                 0                    -1                          -2                   -1             -1                   -1                       -1
GUELPH UNITED MEN                            0                  9                    0               -2                        -1                -1                    -1                           0                    0             -1                   -1                       -2
HAMILTON UNITED MEN                         -1                  0                   11               -2                        -1                -1                    -1                           0                   -2             -1                   -2                        0
MASTER'S FA MEN                             -1                 -2                   -2               13                        -1                -1                     0                          -1                   -1             -2                    0                       -2
NORTH MISSISSAUGA SC MEN                    -2                 -1                   -1               -1                        12                 0                    -1                          -1                   -1              0                   -2                       -2
PICKERING FC MEN                             0                 -1                   -1               -1                         0                12                    -1                          -2                   -1             -2                   -2                       -1
SUDBURY CYCLONES MEN                        -1                 -1                   -1                0                        -1                -1                    11                           0                   -2             -2                   -1                       -1
UNIONVILLE MILLIKEN SC MEN                  -2                  0                    0               -1                        -1                -2                     0                          11                   -2             -1                   -1                       -1
WATERLOO UNITED MEN                         -1                  0                   -2               -1                        -1                -1                    -2                          -2                   12             -1                    0                       -1
WHITBY FC MEN                               -1                 -1                   -1               -2                         0                -2                    -2                          -1                   -1             12                   -1                        0
WINDSOR CITY FC MEN                         -1                 -1                   -2                0                        -2                -2                    -1                          -1                    0             -1                   12                       -1
YORK UNITED ACADEMY MEN                      1                  1                    1                1                         1                 1                     1                           1                    1              1                    1                        1

In [11]:
p = np.array(helpers.buildGDArray(scores_list, teams_list))
p_bar = p
p_bar[-1] = 0
p_bar_df = pd.DataFrame(p_bar, index=teams, columns=['GD'])
print(p_bar_df.to_string())

                            GD
THE BOROUGH FC MEN          11
GUELPH UNITED MEN            4
HAMILTON UNITED MEN        -25
MASTER'S FA MEN              3
NORTH MISSISSAUGA SC MEN    -1
PICKERING FC MEN            -2
SUDBURY CYCLONES MEN         5
UNIONVILLE MILLIKEN SC MEN  -3
WATERLOO UNITED MEN          6
WHITBY FC MEN                8
WINDSOR CITY FC MEN         -6
YORK UNITED ACADEMY MEN      0

In [12]:
# gd vector with blowouts accounted for
p_bw = np.array(helpers.buildGDArray(scores_list, teams_list, 3))
p_bar_bw = p_bw
p_bar_bw[-1] = 0
p_bar_bw_df = pd.DataFrame(p_bar_bw, index=teams, columns=['GD with limited blowouts'])
print(p_bar_bw_df.to_string())

                            GD with limited blowouts
THE BOROUGH FC MEN                                 8
GUELPH UNITED MEN                                  4
HAMILTON UNITED MEN                              -21
MASTER'S FA MEN                                    3
NORTH MISSISSAUGA SC MEN                           0
PICKERING FC MEN                                  -2
SUDBURY CYCLONES MEN                               7
UNIONVILLE MILLIKEN SC MEN                         0
WATERLOO UNITED MEN                                2
WHITBY FC MEN                                      5
WINDSOR CITY FC MEN                               -6
YORK UNITED ACADEMY MEN                            0

In [13]:
r = np.linalg.inv(M_bar).dot(p_bar)
r_df = pd.DataFrame(r, index=teams, columns=['Massey Rating']).sort_values(by=['Massey Rating'], ascending=False)
print(r_df)

                            Massey Rating
THE BOROUGH FC MEN               0.877911
WHITBY FC MEN                    0.642691
GUELPH UNITED MEN                0.534010
SUDBURY CYCLONES MEN             0.490464
WATERLOO UNITED MEN              0.340201
MASTER'S FA MEN                  0.170688
YORK UNITED ACADEMY MEN          0.163866
UNIONVILLE MILLIKEN SC MEN      -0.073368
NORTH MISSISSAUGA SC MEN        -0.082030
PICKERING FC MEN                -0.224336
WINDSOR CITY FC MEN             -0.689811
HAMILTON UNITED MEN             -2.150286

In [14]:
r = np.linalg.inv(M_bar).dot(p_bar_bw)
r_df = pd.DataFrame(r, index=teams, columns=['Massey Rating']).sort_values(by=['Massey Rating'], ascending=False)
print(r_df)

                            Massey Rating
THE BOROUGH FC MEN               0.648086
SUDBURY CYCLONES MEN             0.601846
GUELPH UNITED MEN                0.535515
WHITBY FC MEN                    0.414720
MASTER'S FA MEN                  0.164358
YORK UNITED ACADEMY MEN          0.164089
UNIONVILLE MILLIKEN SC MEN       0.101797
WATERLOO UNITED MEN              0.073589
NORTH MISSISSAUGA SC MEN        -0.002179
PICKERING FC MEN                -0.212931
WINDSOR CITY FC MEN             -0.638711
HAMILTON UNITED MEN             -1.850180