In [4]:
import numpy as np
import pandas as pd
import helpers

In [5]:
teams_df = pd.read_csv('data/2025/womens_champ_teams.csv')
teams_df

   Club ID                          Club
0   175321           BURLINGTON SC WOMEN
1   175332         HAMILTON UNITED WOMEN
2   183405             OAKVILLE SC WOMEN
3   175415            PICKERING FC WOMEN
4   175736     RUSH CANADA ACADEMY WOMEN
5   175350            SCROSOPPI FC WOMEN
6   175404      TECUMSEH UNITED FC WOMEN
7   175409  UNIONVILLE MILLIKEN SC WOMEN
8   183409               WHITBY FC WOMEN

In [6]:
scores_df = pd.read_csv('data/2025/2025-06-28_womens_champ_results.csv')
scores_df

     Match ID  Home result  Away result  Home team  Away team
0   261913436            6            1     175332     175321
1   261913449            0            2     175415     183405
2   261913452            0            2     175404     183409
3   261913453            2            8     175736     175415
4   261913454            1            0     175350     183405
5   261913455            0            1     175404     175332
6   261913456            1            6     175321     175409
7   261913457            0            1     183409     175409
8   261913458            0            2     175321     175404
9   261913459            1            0     175332     175350
10  261913460            1            1     183405     175736
11  261913461            4            2     175350     175415
12  261913462            3            2     183409     175321
13  261913463            1            4     175409     175332
14  261913465            2            4     175404     175736
15  261913466            0            1     175321     175332
16  261913467            1            0     183409     183405
17  261913468            0            1     175409     175415

In [7]:
scores_list = scores_df.to_numpy()
teams_list = teams_df.to_numpy()

X = np.array(helpers.buildScoresArray(scores_list, teams_list))

In [8]:
teams = teams_df['Club'].tolist()
match_ids = scores_df['Match ID'].tolist()

X_df = pd.DataFrame(X, index=match_ids, columns=teams)
print(X_df.to_string())

           BURLINGTON SC WOMEN  HAMILTON UNITED WOMEN  OAKVILLE SC WOMEN  PICKERING FC WOMEN  RUSH CANADA ACADEMY WOMEN  SCROSOPPI FC WOMEN  TECUMSEH UNITED FC WOMEN  UNIONVILLE MILLIKEN SC WOMEN  WHITBY FC WOMEN
261913436                   -1                      1                  0                   0                          0                   0                         0                             0                0
261913449                    0                      0                  1                  -1                          0                   0                         0                             0                0
261913452                    0                      0                  0                   0                          0                   0                        -1                             0                1
261913453                    0                      0                  0                   1                         -1                   0                         0                             0                0
261913454                    0                      0                 -1                   0                          0                   1                         0                             0                0
261913455                    0                      1                  0                   0                          0                   0                        -1                             0                0
261913456                   -1                      0                  0                   0                          0                   0                         0                             1                0
261913457                    0                      0                  0                   0                          0                   0                         0                             1               -1
261913458                   -1                      0                  0                   0                          0                   0                         1                             0                0
261913459                    0                      1                  0                   0                          0                  -1                         0                             0                0
261913460                    0                      0                  1                   0                         -1                   0                         0                             0                0
261913461                    0                      0                  0                  -1                          0                   1                         0                             0                0
261913462                   -1                      0                  0                   0                          0                   0                         0                             0                1
261913463                    0                      1                  0                   0                          0                   0                         0                            -1                0
261913465                    0                      0                  0                   0                          1                   0                        -1                             0                0
261913466                   -1                      1                  0                   0                          0                   0                         0                             0                0
261913467                    0                      0                 -1                   0                          0                   0                         0                             0                1
261913468                    0                      0                  0                   1                          0                   0                         0                            -1                0

In [9]:
print(X_df.T.to_string())

                              261913436  261913449  261913452  261913453  261913454  261913455  261913456  261913457  261913458  261913459  261913460  261913461  261913462  261913463  261913465  261913466  261913467  261913468
BURLINGTON SC WOMEN                  -1          0          0          0          0          0         -1          0         -1          0          0          0         -1          0          0         -1          0          0
HAMILTON UNITED WOMEN                 1          0          0          0          0          1          0          0          0          1          0          0          0          1          0          1          0          0
OAKVILLE SC WOMEN                     0          1          0          0         -1          0          0          0          0          0          1          0          0          0          0          0         -1          0
PICKERING FC WOMEN                    0         -1          0          1          0          0          0          0          0          0          0         -1          0          0          0          0          0          1
RUSH CANADA ACADEMY WOMEN             0          0          0         -1          0          0          0          0          0          0         -1          0          0          0          1          0          0          0
SCROSOPPI FC WOMEN                    0          0          0          0          1          0          0          0          0         -1          0          1          0          0          0          0          0          0
TECUMSEH UNITED FC WOMEN              0          0         -1          0          0         -1          0          0          1          0          0          0          0          0         -1          0          0          0
UNIONVILLE MILLIKEN SC WOMEN          0          0          0          0          0          0          1          1          0          0          0          0          0         -1          0          0          0         -1
WHITBY FC WOMEN                       0          0          1          0          0          0          0         -1          0          0          0          0          1          0          0          0          1          0

In [10]:
M = (X.T).dot(X)
M_df = pd.DataFrame(M, index=teams, columns=teams)
print(M_df.to_string())

                              BURLINGTON SC WOMEN  HAMILTON UNITED WOMEN  OAKVILLE SC WOMEN  PICKERING FC WOMEN  RUSH CANADA ACADEMY WOMEN  SCROSOPPI FC WOMEN  TECUMSEH UNITED FC WOMEN  UNIONVILLE MILLIKEN SC WOMEN  WHITBY FC WOMEN
BURLINGTON SC WOMEN                             5                     -2                  0                   0                          0                   0                        -1                            -1               -1
HAMILTON UNITED WOMEN                          -2                      5                  0                   0                          0                  -1                        -1                            -1                0
OAKVILLE SC WOMEN                               0                      0                  4                  -1                         -1                  -1                         0                             0               -1
PICKERING FC WOMEN                              0                      0                 -1                   4                         -1                  -1                         0                            -1                0
RUSH CANADA ACADEMY WOMEN                       0                      0                 -1                  -1                          3                   0                        -1                             0                0
SCROSOPPI FC WOMEN                              0                     -1                 -1                  -1                          0                   3                         0                             0                0
TECUMSEH UNITED FC WOMEN                       -1                     -1                  0                   0                         -1                   0                         4                             0               -1
UNIONVILLE MILLIKEN SC WOMEN                   -1                     -1                  0                  -1                          0                   0                         0                             4               -1
WHITBY FC WOMEN                                -1                      0                 -1                   0                          0                   0                        -1                            -1                4

In [11]:
M_bar = M.copy()
M_bar[-1,:] = np.ones(M.shape[0])
M_bar
M_bar_df = pd.DataFrame(M_bar, index=teams, columns=teams)
print(M_bar_df.to_string())

                              BURLINGTON SC WOMEN  HAMILTON UNITED WOMEN  OAKVILLE SC WOMEN  PICKERING FC WOMEN  RUSH CANADA ACADEMY WOMEN  SCROSOPPI FC WOMEN  TECUMSEH UNITED FC WOMEN  UNIONVILLE MILLIKEN SC WOMEN  WHITBY FC WOMEN
BURLINGTON SC WOMEN                             5                     -2                  0                   0                          0                   0                        -1                            -1               -1
HAMILTON UNITED WOMEN                          -2                      5                  0                   0                          0                  -1                        -1                            -1                0
OAKVILLE SC WOMEN                               0                      0                  4                  -1                         -1                  -1                         0                             0               -1
PICKERING FC WOMEN                              0                      0                 -1                   4                         -1                  -1                         0                            -1                0
RUSH CANADA ACADEMY WOMEN                       0                      0                 -1                  -1                          3                   0                        -1                             0                0
SCROSOPPI FC WOMEN                              0                     -1                 -1                  -1                          0                   3                         0                             0                0
TECUMSEH UNITED FC WOMEN                       -1                     -1                  0                   0                         -1                   0                         4                             0               -1
UNIONVILLE MILLIKEN SC WOMEN                   -1                     -1                  0                  -1                          0                   0                         0                             4               -1
WHITBY FC WOMEN                                 1                      1                  1                   1                          1                   1                         1                             1                1

In [12]:
p = np.array(helpers.buildGDArray(scores_list, teams_list))
p_bar = p
p_bar[-1] = 0
p_bar_df = pd.DataFrame(p_bar, index=teams, columns=['GD'])
print(p_bar_df.to_string())

                              GD
BURLINGTON SC WOMEN          -14
HAMILTON UNITED WOMEN         11
OAKVILLE SC WOMEN              0
PICKERING FC WOMEN             3
RUSH CANADA ACADEMY WOMEN     -4
SCROSOPPI FC WOMEN             2
TECUMSEH UNITED FC WOMEN      -3
UNIONVILLE MILLIKEN SC WOMEN   2
WHITBY FC WOMEN                0

In [13]:
# gd vector with blowouts accounted for
p_bw = np.array(helpers.buildGDArray(scores_list, teams_list, 3))
p_bar_bw = p_bw
p_bar_bw[-1] = 0
p_bar_bw_df = pd.DataFrame(p_bar_bw, index=teams, columns=['GD with limited blowouts'])
print(p_bar_bw_df.to_string())

                              GD with limited blowouts
BURLINGTON SC WOMEN                                -10
HAMILTON UNITED WOMEN                                9
OAKVILLE SC WOMEN                                    0
PICKERING FC WOMEN                                   0
RUSH CANADA ACADEMY WOMEN                           -1
SCROSOPPI FC WOMEN                                   2
TECUMSEH UNITED FC WOMEN                            -3
UNIONVILLE MILLIKEN SC WOMEN                         0
WHITBY FC WOMEN                                      0

In [14]:
r = np.linalg.inv(M_bar).dot(p_bar)
r_df = pd.DataFrame(r, index=teams, columns=['Massey Rating']).sort_values(by=['Massey Rating'], ascending=False)
print(r_df)

                              Massey Rating
SCROSOPPI FC WOMEN                 1.602021
HAMILTON UNITED WOMEN              1.414054
PICKERING FC WOMEN                 1.044322
UNIONVILLE MILLIKEN SC WOMEN       0.531978
OAKVILLE SC WOMEN                  0.347686
WHITBY FC WOMEN                    0.048800
RUSH CANADA ACADEMY WOMEN         -1.304398
TECUMSEH UNITED FC WOMEN          -1.305202
BURLINGTON SC WOMEN               -2.379263

In [15]:
r = np.linalg.inv(M_bar).dot(p_bar_bw)
r_df = pd.DataFrame(r, index=teams, columns=['Massey Rating']).sort_values(by=['Massey Rating'], ascending=False)
print(r_df)

                              Massey Rating
SCROSOPPI FC WOMEN                 1.246603
HAMILTON UNITED WOMEN              1.174609
OAKVILLE SC WOMEN                  0.300685
PICKERING FC WOMEN                 0.264516
WHITBY FC WOMEN                    0.155663
UNIONVILLE MILLIKEN SC WOMEN      -0.025185
RUSH CANADA ACADEMY WOMEN         -0.464041
TECUMSEH UNITED FC WOMEN          -0.957324
BURLINGTON SC WOMEN               -1.695526